<?xml version="1.0" encoding="UTF-8" ?>
<!--
	AsyncLoggers Shutdown with Tomcat

	Log4j automatically inserts itself into the runtime application context in a Servlet 3 environment (i.e.
	Tomcat 8.x) and will clean up the logging context once the container is instructed to shut down. However,
	Tomcat ignores all JAR files named log4j*.jar, which prevents this feature from working. You may need
	to change the catalina.properties and remove log4j*.jar from the jarsToSkip property. You may need to
	do something similar on other containers if they skip scanning Log4j JAR files.

	Failure to do so will stop Tomcat to gracefully shut down and causes logger context threads to hang.
-->

<!-- Specify the refresh internal in seconds. -->
<Configuration monitorInterval="60">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %p [%c] - &lt;%m&gt;%n" />
		</Console>
		<RollingFile name="file" fileName="logs/ppm/tms.log" append="true" filePattern="logs/ppm/tms-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout pattern="%d %p [%c] - %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<AsyncRoot level="error">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</AsyncRoot>
		<AsyncLogger name="org.springframework" level="warn" />
		<AsyncLogger name="org.springframework.web" level="warn" />
		<Logger name="org.pac4j" level="warn" />

		<AsyncLogger name="org.jasig" level="warn" additivity="false" includeLocation="true">
			<AppenderRef ref="file" />
		</AsyncLogger>

		<AsyncLogger name="org.jasig.cas.web.flow" level="warn" additivity="false" includeLocation="true">
			<AppenderRef ref="file" />
		</AsyncLogger>

		<AsyncLogger name="com.pax" level="warn" additivity="false">
			<AppenderRef ref="file" />
		</AsyncLogger>

		<AsyncLogger name="org.springframework.data.mongodb" level="warn" additivity="false">
			<AppenderRef ref="file" />
		</AsyncLogger>

		<AsyncLogger name="org.ldaptive" level="warn" additivity="false">
			<AppenderRef ref="file" />
		</AsyncLogger>

		<Logger name="io.netty.handler.logging.LoggingHandler" level="warn" additivity="false">
			<AppenderRef ref="file" />
		</Logger>
	</Loggers>
</Configuration>
