.global-name{
    width: 182px;    
}
.global-value{ 
    margin-left: 182px;    
}
.global-input1{
    width: 45%; 
    display: block;
    float: left;
    margin-bottom: 0px;
    position: relative;
}
.global-text{
    width: 10%; 
    display: inline-block;
    text-align:center;
}
.global-input2{
    width: 45%; 
    display: block;
    float: right;
    margin-bottom: 0px
}
.global-percent{
    position: absolute;
    right:5px;top:0px
}
